{% extends "postman/base_folder.html" %}
{% load static %}
{% load postman_tags %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'group_list.css' %}">
  <link rel="stylesheet" href="{% static 'sidebar.css' %}">
{% endblock css %}

{% block navbar-right %}
    <!-- Top toolbar with bulk actions -->
    <a href="{% url 'dashboard' %}">
        <button class="nav-btn">Home</button>
    </a>
    <a href="{% url 'postman:inbox' %}"><button class="nav-btn">Back</button></a>
{% endblock %}




{% block content %}
<div class="group-list-container">
    <h2>Welcome to your groups, <span>{{ uuser.profile.nickname|default:user.profile.display_name|default:user.username }}</span></h2>
    <a href="{% url 'create_group' %}">
        <button class="create-group-btn">
            Create New Group +
        </button>
    </a>
    {% if groups %}
    <div class="group-cards" style='margin-top: 5%;'>
        {% for group in groups %}
        <div class="group-card">
            <div class="group-info">
                <h4>{{ group.name }}</h4>
                <p>{{ group.members.count }} members</p>
            </div>
            <a href="{% url 'group_detail' group.id %}">
                <button>
                    View
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You are not in any groups yet.</p>
    {% endif %}
</div>
{% endblock %}
