*, *::before, *::after {
   box-sizing: inherit;
}

[class*="col-"] {
    border: 2px solid red;
    float: left;
}
.container{
    flex: 1;
    /* height: 95vh; */
    /* margin: 0px 0px 22px 0px; */
    /* margin-bottom: 0px; */
    /* padding: 0% 0% 1% 0%; */
    /* width: 100%; */
    /* border: 2px solid blue; */
}

.login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("./images/login-backdrop2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--min-content-height);
}


.login-header {
    text-align: center; 
    margin: 80px 0 0 0;
    color: var(--background-dark);
}

.login-box{
    color: rgb(33, 78, 33);
    border-radius: 15px;
    max-width: 600px;
    min-width: 350px;
    min-height: 350px;
    text-align: center;
    /* background-color: black; */
}

.login-form input {
    position: relative;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
    cursor: pointer;
    color: var(--background-dark);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-form button {
    position: relative;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.login-form input::placeholder {
    color: var(--background-dark);
}

input[type="submit"]{
    border-radius: 10px;
    width: 50%;
    margin-bottom:20px;
    margin-top: 20px;
    cursor: pointer;
}

input[type='submit']:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 16px var(--accent-green);
}

.login-form button {
    /* border-radius: 10px;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.select-buttons {
    display: flex;
    justify-content: center;
}

.select-buttons a {
box-sizing: border-box;
position: relative;
padding: 10px;
border-radius: 15px;
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(10px);
margin-bottom: 20px;
margin-top: 15px;
margin-right: 10px;
width: 80%;
cursor: pointer;
text-decoration: none;
}

.select-buttons a.active {
    background-color: var(--accent-green);
    color: var(--white);
}

a:visited {
    color: inherit;
}

/* .select-buttons > a:hover {
    outline: inset var(--error-red) 2px;
}

.login-form button:hover {
    outline: inset var(--error-red) 2px;
} */

.login-lnk-btn {
    border: 3px solid var(--accent-green);
    font-weight: bold;
}

.signup-lnk-btn {
    border: 3px solid var(--accent-green);
    font-weight: bold;
    
    background-color: var(--accent-green);
    color: var(--background-light);
}