{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'login/login.css'%}">
{% endblock %}

{% block content %}
<div class='landing-page'>
    <div class="login-hero-div">
        <h1 class='login-header'>
            Appeal Account Suspension
        </h1>
        <form method='post'>
            {% csrf_token %}
            <label for='appealText'><h4 style='text-align: center;'>Enter Appeal Below</h4></label>
            <textarea type='text' required id='appealText' rows="10" cols="50"></textarea><br>
            <button name='action' value='submitAppeal'>Appeal Suspension</button>
        </form>
        <form method='post' action="{% url 'logout' %}">
        {% csrf_token %}
        <button type='submit'>Logout</button>
        </form>
    </div>
</div>
{% endblock %}