{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'login/login.css'%}">
{% endblock %}

{% block content %}
<div class='landing-page'>
    <div class="login-hero-div">
        <h1 class='login-header'>
            Appeal Submitted.
        </h1>
        <form method='post' action="{% url 'logout' %}">
            {% csrf_token %}
        <button type='submit'>Logout</button>
        </form>
    </div>
</div>
{% endblock %}