{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'login/login.css'%}">
{% endblock %}

{% block content %}
<div class='landing-page'>
    <div class="login-hero-div">
        <h1 class='login-header'>
            Account Suspended
        </h1>
        <br/>
        <main>
            If you believe this is a mistake, please reach out to uvathrift@gmail.com to appeal your suspension.
        </main>
        {% comment %} Maybe we can add a button to appeal request that notifies and sends to a 
        certain view that allows us to review appeals? {% endcomment %}
    </div>
</div>
{% endblock %}