{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
<link rel="stylesheet" href="{% static 'login/suspended.css' %}">
{% endblock %}

{% block content %}
<div class="suspended-page">
    <div class="suspended-card">
        <h1>Account Suspended</h1>
        <p class="suspension-info">Suspended Until: {{ request.user.profile.suspended_until }}</p>
        <p class="suspension-info">Time Remaining: {{ request.user.profile.remaining_time }}</p>

        <form method="post" action="{% url 'appeal' %}">
            {% csrf_token %}
            <button name="action" value="appeal" class="card-btn edit">Appeal Suspension</button>
        </form>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="card-btn suspend">Logout</button>
        </form>
    </div>
</div>
{% endblock %}