{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'moderation/administrator.css'%}">
{% endblock %}

  {% block navbar-left %}
        <nav class="navbar">
            <div class="navbar-left">
                <a class="home-link" href="{% url 'admin_only' %}">
                    <img class="logo" src="{% static 'images/thrift.uva.jpg' %}" alt="UVA Thrift Logo" />
                    <h2 style="margin: 0;">
                        <span>uva</span>.<span>thrift</span>
                        <span style='color: red; font-weight: bold; margin-left: 5px;'>Admin</span>
                    </h2>
                </a>
            </div>
            {% endblock %}
            {% block navbar-right %}
            <div class="navbar-right">
                <a href="{% url 'postman:inbox'%}">
                <button class="nav-btn">Messages</button>
                </a>
                <a href={% url 'dashboard' %}>
                    <button class='nav-btn user-view-btn'>User View</button>
                </a>
                <a href="{% url 'logout' %}"> <button class='nav-btn'>Logout</button> </a>
                <a style='color: black;' class="username-display" href="{% url 'my_profile' %}">
                    <img class='nav-pfp' src="{{ user.profile.image.url }}">
                    <span style="margin-left: 10px; margin-right: 5px;">{{ user.profile.nickname|default:user.profile.display_name|default:user.username }}</span>
                    {% if mode == 'admin' %}
                    <span style='color: red;'>({{ mode }})</span>
                    {% endif %}
                    {% if user.profile.student_email_verified %}
                        <img class="verified-badge-icon" id="verification-badge" src="{% static 'users/images/verified_badge.png' %}" />
                    {% endif %}
                </a>
            </div>
        </nav>
        {% endblock %}

{% block content %}
<h1 style='text-align: center;'>UVA Thrift Administrator Dashboard</h1>
<div class='admin-btn-container'>
<a href="{% url 'manage_users' %}" class='admin-btn'>Manage Users</a>
<a href="{% url 'manage_posts' %}" class='admin-btn'>Manage Posts</a>
<a href="{% url 'manage_appeals' %}" class='admin-btn'>Manage Appeals</a>
<a href="{% url 'manage_messages' %}" class='admin-btn'>Manage Messages</a>
</div>
{% endblock %}