{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'moderation/administrator.css'%}">
{% endblock %}

  {% block navbar-left %}
        <nav class="navbar">
            <div class="navbar-left">
                <a class="home-link" href="{% url 'admin_only' %}">
                    <img class="logo" src="{% static 'images/thrift.uva.jpg' %}" alt="UVA Thrift Logo" />
                    <h2>
                        <span>uva</span>.<span>thrift</span><span style='color: red; font-weight: bold; margin-left: 5px;'>Admin</span>
                    </h2>
                </a>
            </div>
            {% endblock %}
            {% block navbar-right %}
            <div class="navbar-right">
                <a href="{% url 'postman:inbox'%}">
                <button class="nav-btn">Messages</button>
                </a>
                <a href={% url 'dashboard' %}>
                    <button class='nav-btn user-view-btn'>User View</button>
                </a>
                <a href="{% url 'logout' %}"> <button class='nav-btn'>Logout</button> </a>
                <a style='color: black;' class="username-display" href="{% url 'my_profile' %}">{{ user }} <span style='color: red;'>({{ mode }})</span></a>
            </div>
        </nav>
        {% endblock %}

{% block content %}
<h1 style='text-align: center;'>Edit User</h1>
<div class='edit-container'>
<form method="post" action="{% url 'edit_user' %}">
  {% csrf_token %}
  <input type='hidden' name='action' value='save'>
  <input type='hidden' name='user_id' value="{{ edit_user.id }}">
  <label>Username:</label>
  <input type="text" name="username" value="{{ edit_user.username }}"><br>

  <label>Email:</label>
  <input type="email" name="email" value="{{ edit_user.email }}"><br>

  <label>Is Superuser:</label>
  <input type="checkbox" name="is_superuser" {% if edit_user.is_superuser %}checked{% endif %}><br>
  
  <label>Is Suspended:</label>
  <input type="checkbox" name="is_suspended" {% if edit_user.profile.is_suspended %}checked{% endif %}><br>

  <button type="submit">Save</button>
</form>
</div>
{% endblock %}