{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'moderation/administrator.css'%}">
{% endblock %}

  {% block header %}
        <nav class="navbar">
            <div class="navbar-left">
                <a href="{% url 'dashboard'%}">
                    <h3>UVA Thrift <span style='color: red; font-weight: bold;'>Admin</span></h3>
                </a>
            </div>
            <div class="navbar-right">
                <a style='color: black;' class="username-display" href="{% url 'my_profile' %}">{{ user }} <span style='color: red;'>({{ mode }})</span></a>
            </div>
        </nav>
        {% endblock %}

{% block content %}
<h1 style='text-align: center;'>Edit User</h1>
<div class='edit-container'>
<form method="post" action="{% url 'edit_user' %}">
  {% csrf_token %}
  <input type='hidden' name='action' value='save'>
  <input type='hidden' name='user_id' value="{{ user.id }}">
  <label>Username:</label>
  <input type="text" name="username" value="{{ user.username }}"><br>

  <label>Email:</label>
  <input type="email" name="email" value="{{ user.email }}"><br>

  <label>Is Superuser:</label>
  <input type="checkbox" name="is_superuser" {% if user.is_superuser %}checked{% endif %}><br>

  <button type="submit">Save</button>
</form>
</div>
{% endblock %}