{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'moderation/administrator.css'%}">
{% endblock %}

{% block navbar-left %}
  <a href="{% url 'dashboard'%}">
      <h3>UVA Thrift <span style='color: red; font-weight: bold;'>Admin</span></h3>
  </a>
{% endblock %}

{% block navbar-right %}
<a style='color: black;' class="username-display" href="{% url 'my_profile' %}">{{ user }} <span style='color: red;'>({{ mode }})</span></a>
{% endblock %}

{% block content %}
<h1 style='text-align: center;'>Manage Users</h1>
<table style='display: flex; justify-content: center; align-items: center;'>
    <tr><th>User ID</th><th>Username</th><th>Email</th><th>Admin?</th><th>Action</th></tr>
  {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.is_superuser }}</td>
      <td>
        <form method="post" action="{% url 'edit_user' %}">
      {% csrf_token %}
      <input type="hidden" name="user_id" value="{{ u.id }}">
      <button type="submit" name='action' value='edit'>Edit</button>
      <button type='submit' name='action' value='suspend' style='background-color: red'>Suspend User</button> 
</form>
</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}