{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/profile.css'%}">
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/login.css'%}">
    <link rel='stylesheet' type='text/css' href="{%static 'dashboard/dashboard.css'%}">
{% endblock %}

{% block content %}
<div class="profile-page">
    <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data" class="profile-block">
        {% csrf_token %}
        <div class="profile-block-top">
            <div class="profile-block-left">
                <label for="photoUpload">
                    <img id="profile-picture-button" class="profile-picture" src={{ user.profile.image.url }} />
                </label>
                <input type="file" id="photoUpload" name="profile_photo" style="display:none;"/>
                <p>Click above to upload a new<br /> profile picture.</p>
            </div>
            <div class="profile-block-right">
                <input type='hidden' name='action' value='save'>
                <input type='hidden' name='user_id' value="{{ user.id }}">
                <h3 style="margin-bottom: 10px;">
                    {{ user.profile.display_name|default:user.username }}
                    {% if user.profile.student_email_verified %}
                        <img class="verified-badge-icon" src="{% static 'users/images/verified_badge.png' %}" />
                    {% endif %}
                </h3>
                <h4><input class="form-input" type="text" placeholder="{{ user.profile.nickname }}" name="nickname"></h4>
                <p><input class="form-input" type="text" placeholder="{% if user.email %}{{ user.email }}{% else %}Email{% endif %}" name="email"/></p>
            </div>
        </div>
        <p class="bio"><textarea class="form-textarea" placeholder="{% if user.profile.bio %}{{ user.profile.bio }}{% else %}Enter your bio here{% endif %}" rows="4" cols="50" name="bio"></textarea></p>
        <button type="submit" style="margin: 0px auto;">Submit</button>
        <a href="{% url 'delete_profile' %}" style="margin: 20px auto;"><span style='font-weight: normal; color: red;'>Delete Account</span></a>
    </form>
</div>
{% endblock %}