{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/profile.css'%}">
    <link rel='stylesheet' type='text/css' href="{%static 'users/dashboard.css'%}">
{% endblock %}
{% block navbar-right %}
    <a href="{% url 'dashboard'%}">
        <button class="nav-btn">Messages</button>
    </a>
    {% if mode == 'admin' %}
        <a href="{% url 'admin_only' %}">
            <button class='nav-btn admin-btn'>Admin Panel</button>
        </a> 
    {% endif %}
    <a href="{% url 'logout' %}"> <button class='nav-btn'>Logout</button> </a>
    <a style='color: black;' class="username-display" href="{% url 'my_profile' %}">{{ user }} <span style='color: red;'>({{ mode }})</span></a>
{% endblock %}

{% block content %}
<h1 style='text-align: center;'>Your Profile</h1>
<div class='profile-container'>
    <img class="profile-picture" src={{ user.profile.image.url }} />
    <p>{{ user.username }}</p>

    <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data"">
        {% csrf_token %}
        <input type='hidden' name='action' value='save'>
        <input type='hidden' name='user_id' value="{{ user.id }}">
        <div>
            <label>Username: </label>
            <input type="text" placeholder="{{ user.username }}" name="username"/>
        </div><br>
        <div>
            <label>Email: </label>
            <input type="text" placeholder="{{ user.email }}" name="email"/>
        </div><br>
        <div>
            <label>Profile Photo</label>
            <input type="file" placeholder="" name="profile_photo"/>
        </div><br>
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'delete_profile' %}">delete account</a>
    <p><span style='font-weight: bold;'>Date Joined: </span>{{user.socialaccount_set.all.0.date_joined}}</p>
    <p><span style='font-weight: bold;'>Total Donations: </span>0</p>
</div>
{% endblock %}