{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/login.css'%}">
{% endblock %}

{% block content %}
<div class='background'>
    <h1 class='login-header'>
        Welcome to <span>UVA Thrift</span>
    </h1>
    <!-- <h3>Get ready for the best deals of your life.</h3> -->
     <h4>Ready to get started? Sign up or login below.</h4>
    <div class='container login'>
        <section class='login-box'>
            {% comment %} <h1>Login</h1> {% endcomment %}
            <div class='select-buttons'>
                <div id="g_id_onload"
                    data-client_id="873931188877-iefa71430ipacco7t8mp163hmvm1fce2.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="handleCredentialResponse"
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"></div>
            </div>
        </section>
    </div>
</div>

<script src="https://accounts.google.com/gsi/client" async></script>
<script>
    function decodeJWT(token) {

    let base64Url = token.split(".")[1];
    let base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
    let jsonPayload = decodeURIComponent(
        atob(base64)
        .split("")
        .map(function (c) {
            return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
        })
        .join("")
    );
    return JSON.parse(jsonPayload);
    }

    function handleCredentialResponse(response) {

    console.log("Encoded JWT ID token: " + response.credential);

    const responsePayload = decodeJWT(response.credential);

    console.log("Decoded JWT ID token fields:");
    console.log("  Full Name: " + responsePayload.name);
    console.log("  Given Name: " + responsePayload.given_name);
    console.log("  Family Name: " + responsePayload.family_name);
    console.log("  Unique ID: " + responsePayload.sub);
    console.log("  Profile image URL: " + responsePayload.picture);
    console.log("  Email: " + responsePayload.email);
    }
</script>
{% endblock %}