{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/profile.css'%}">
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/login.css'%}">
    <link rel='stylesheet' type='text/css' href="{%static 'dashboard/dashboard.css'%}">
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-block">
        <div class="profile-block-left">
            <img class="profile-picture" src={{ user.profile.image.url }} />
        </div>
        <div class="profile-block-right">
            <h3 style="margin-bottom: 10px;">{{ user.username }}</h3>
            <h4>{% if user.username != user.profile.nickname%}{{ user.profile.nickname }}{% else %}<span style="color: grey;">(No nickname set)</span>{% endif %}</h4>
            <p><span style='font-weight: bold;'>Email: </span>{% if user.email %}{{ user.email }}{% else %}n/a{% endif %}</p>
            <p><span style='font-weight: bold;'>Date Joined: </span>{{user.socialaccount_set.all.0.date_joined}}</p>
            <p><span style='font-weight: bold;'>Total Donations: </span>0</p>
            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type='hidden' name='action' value='edit'>
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
    <div class="verify-student-email">
        {% if user.profile.is_student_verified %}
            <div class="verified-success">
                <h3 class="left-text">Student Email Verified</h3>
                <p class="left-text">Your student email has been successfully verified. Thank you for verifying your status as a UVA student!</p>
            </div>
        {% else %}
            <h3 class="left-text">Student Email Verification</h3>
            <p class="left-text">Verifying your student email allows you to show other users that you are an official UVA student, building trust within the community. Unverified accounts will and should be met with skepticism.</p>
            <p class="left-text">To verify your email please enter a valid UVA email address ending in <span>@virginia.edu</span>. Then follow the instructions sent to your email to complete the verification process.</p>
            <a href="{% url 'request_student_verification' %}"><button>Request verification now</button></a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}