{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/profile.css'%}">
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/login.css'%}">
    <link rel='stylesheet' type='text/css' href="{%static 'dashboard/dashboard.css'%}">
{% endblock %}

{% block content %}
    <div class="profile-block">
        <div class="profile-block-left">
            <img class="profile-picture" src={{ user.profile.image.url }} />
        </div>
        <div class="profile-block-right">
            <h3 style="margin-bottom: 10px;">{{ user.username }}</h3>
            <h4>{% if user.username != user.profile.nickname%}{{ user.profile.nickname }}{% else %}<span style="color: grey;">(No nickname set)</span>{% endif %}</h4>
            <p><span style='font-weight: bold;'>Email: </span>{% if user.email %}{{ user.email }}{% else %}n/a{% endif %}</p>
            <p><span style='font-weight: bold;'>Date Joined: </span>{{user.socialaccount_set.all.0.date_joined}}</p>
            <p><span style='font-weight: bold;'>Total Donations: </span>0</p>
            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type='hidden' name='action' value='edit'>
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}