{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'users/profile.css'%}">
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/login.css'%}">
    <link rel='stylesheet' type='text/css' href="{%static 'dashboard/dashboard.css'%}">
{% endblock %}

{% block content %}
    <h2 style='text-align: center;'>Your Profile</h2>
    <img class="profile-picture" src={{ user.profile.image.url }} />
    <h4>{{ user.username }}</h4>
    <h4>{{ user.email }}</h4>
    <p><span style='font-weight: bold;'>Date Joined: </span>{{user.socialaccount_set.all.0.date_joined}}</p>
    <p><span style='font-weight: bold;'>Total Donations: </span>0</p>
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type='hidden' name='action' value='edit'>
        <button type="submit">Edit</button>
    </form>
{% endblock %}