{% extends 'base.html'%}
{% load static %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="{%static 'messaging/message_overview.css'%}">
{% endblock %}

{% block navbar-right %}
    <a href="{% url 'dashboard'%}">
        <button class="nav-btn">Messages</button>
    </a>
    {% if mode == 'admin' %}
    <a href="{% url 'admin_only' %}">
        <button class='nav-btn admin-btn'>Admin Panel</button>
    </a> 
    {% endif %}
    <a href="{% url 'logout' %}"> <button class='nav-btn'>Logout</button> </a>
    <a style='color: black;' class="username-display" href="{% url 'my_profile' %}">{{ user }} <span style='color: red;'>({{ mode }})</span></a>
{% endblock %}

{% block content %}
    <p>Here will have a nice overview of all messages</p>
{% endblock content %}
   