<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UVA Thrift{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                {% block navbar-left %}
                <a class="home-link" href="{% url 'dashboard' %}">
                    <img class="logo" src="{% static 'images/UVA2.png' %}" alt="UVA Thrift logo" />
                </a>
                {% endblock %}
            </div>
            <div class="navbar-right">
                {% block navbar-right %}{% endblock %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    <footer>
        {% block footer %}
        <div class="footer">
            <h5>UVA Thrift Copyright © 2025 A10. MIT License.</h5>
        </div>
        {% endblock footer %}
    </footer>
</body>
</html>