body {
    margin: 0;
}

.nav-btn{
    width: auto;
    margin: 0px;
}

.nav-pfp{
    width: 50px;
    border-radius: 50%;
}

.admin-btn{
    background-color: red;
}

.username-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 12px 25px 12px 10px;
}